
.login-container {
    margin: auto;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(247, 132, 132);
    filter: drop-shadow(20px 20px 20px red);
  }
  
  
  .logout-container {
    text-align: right;
    margin-bottom: 15px;
  }
  
 
  .logout-container button {
    padding: 8px 15px;
    background-color: #dc3545; 
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .logout-container button:hover {
    background-color: #c82333; 
  }
  

  .login-heading {
    margin-top: 20px;
    color: #000000;
  }

  .form-group {
    margin-bottom: 15px;
  }
  
  .label-username,
  .label-password {
    display: block;
    margin-bottom: 5px;
  }
  

  .input-username,
  .input-password {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .submit-button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  