.contain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.form2 {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 450px;
    background-color: rgb(247, 132, 132);
    filter: drop-shadow(10px 10px 10px red);
}
  
.app {
    display: grid;
    gap: 8px;
}
  
.inp {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 20px;
}
  
.err {
    color: red;
    font-size: 14px;
}
  
.button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
  
.button:hover {
    background-color: #24c12c;
}
  